<style>
.required{
  color: red;
}

.field-style{
  width: 100%;
  box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  padding: 8px;
  outline: none;
  border: 1px solid #e0b43b;  
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.account-btn {
  width:100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #e0b43b;
  padding: 8px 40px 8px 40px;
  border: solid #e0b43b 2px;
  text-decoration: none;
}

.account-btn:hover {
  background: #e0b43b;
  text-decoration: none;
}

.link-btn{
  color: #e0b43b;
  text-align: center;
  margin: 0 auto;
}
</style>
<div class='container'> 
<div class='col-sm-4'>
  <br /> <h1> MUMOO </h1>
  <h2>회원가입</h2><br />

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
  
    <label>이메일 </label><span class="required"> * </span>
    <div class="field">
      <%= f.email_field :email, autofocus: true, :class => 'field-style' %>
    </div><br />
    
    <label> 비밀번호
      <% if @minimum_password_length %>
      (<%= @minimum_password_length %>글자 이상 입력해주세요.)
      <% end %><br />
    </label><span class="required"> *</span>
    
    <div class="field">
      <%= f.password_field :password, autocomplete: "off", :class => 'field-style' %>
    </div><br />
  
    <label> 비밀번호를 다시 입력해주세요. </label><span class="required"> *</span>
    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'field-style' %>
    </div><br />
    
    <label> 닉네임 </label><span class="required"> *</span>
    <div class="field">
      <%= f.text_field :name, autofocus: true, :class => 'field-style' %>
    </div><br />

  <div class="actions">
    <%= f.submit "계정 생성하기", :class => 'account-btn' %>
  </div><br />
<% end %>

<%- if controller_name != 'sessions' %>
  Already have MUMOO Account? |
  <%= link_to "Login", new_session_path(resource_name), :class => 'link-btn' %><br />
<% end -%>
</div>
</div>