<!-- 금주의 인기 전시회, 전시회 검색, 지역 버튼, 전시회 나열(show.erb), 달력 링크 버튼 -->

<div class="topOfMain blackBoderBox">
  <div class="row">
    <img class="mainLogoImg" src="/img/mainLogo.png">
  </div>
  <div class="row">
    <div class="counting" data-count="<% @exhibiRandom.count %>"></div>
  </div>
  <div class="row">
    <div class="searchBox form-group has-feedback">
      <form action="/exhibition/keywordResult" method="GET">
        <input type="text" class="searchInput" name="search" placeholder="검색어를 입력해주세요">
        <span class="glyphicon glyphicon-search searchIcon form-control-feedback"></span>
      </form>
    </div>
  </div>
</div>
<div class="topOfMain2 blackBoderBox">
  <div class="row">
    <img class="hashtagTitleImg" src="/img/hashtagTitle.png">
  </div>
  <div class="row">
    <% @hotTag.each do |hash| %>
    <div class="mostTag">
      <a href="https://miniexhibition-shinah1234.c9users.io/exhibition/hashtag/<%= hash[0] %>">#<%= hash[0] %></a>
    </div>
    <% end %>
  </div>
</div>
<div class="middleOfMain blackBoderBox">
<img class="middleTitle" src="/img/middleTitle.png">
  <div class="swiper-container">
  <div class="swiper-wrapper">
    <% @onlyToday.each do |r| %>
    <div class="swiper-slide">
      <a href='/exhibition/show_detail/<%=r.id%>'>
        <img src="<%= r.imageAddress %>" alt="<%= r.title %>" class="img-responsive center-block" width='100%' height="100%">
      </a>
      <div class="description">
        <p style="font-size: 8px;"><%= "#{truncate(r.title, :length => 10)}" %></p>
        <p style="font-size: 5px;"><%= r.spot %></p>
      </div>
    </div>
    <% end %>
  </div>
  <div class="swiper-pagination"></div>
  </div>
</div>

<!-- 전시회 나열 페이지 -->
<div class="bodyOfMain blackBoderBox">
<div class="container">
  <div class="row">
    <a href="/exhibition/locationResult"> 지역</a>
    <div class="sortByLocation">
      <div class="sortBox">
      <select name="locationSelect">
        <% @locationAll.each do |location| %>
          <option value="<%= location %>"><%= location %></option>
        <% end %>
      </select>        
      </div>
      <input type="submit" class="sortBy_yellow" value="GO!">
    </div>
    <div class="sortBySelect">
      <%#= form_tag '/exhibition/main#showExhibition' do %>
        <form action="/exhibition/main#showExhibition">
          <div class="sortBox">
            <select name="type">
              <option value="조회수순">조회수순</option>
              <option value="좋아요순">좋아요순</option>
            </select>
            <span class="fa fa-sort-desc"></span>
          </div>  
          <input type="submit" class="sortBy_black" value="정렬">
        </form>
      <%# end %>
    </div>
  </div>
  <div id="showExhibition ">
      <% @exhibitions.each do |p| %>
      <div class="showExhibitionBox">
        <div class="showExhibitionTitle">
          <a href='/exhibition/show_detail/<%=p.id%>'>
            <p class="itemTitle"><%= "#{truncate(p.title, :length => 25)}" %></p>
          </a>          
        </div>
        <div class="showExhibitionImg">
            <img src='<%=p.imageAddress%>' width='180px' height="240px">          
        </div>
        <div class="showExhibitionItem">
          <p><img src="/img/heart_filled.png" width="15px"><%= p.likes.size%></p>
          <p class="itemSpot"><%= "#{truncate(p.spot, :length => 15)}" %></p>
          <p class="itemSpot"><%= p.hashtag %></p>
        </div>
      </div>
      <% end %>    
  </div>
  <div class="paginationBox">
    <%= will_paginate @exhibitions, :previous_label => '<' , :next_label => '>'  %>
  </div>  
</div>
</div>


<script src="/js/swiper.min.js"></script>

<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        effect: 'coverflow',
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: 'auto',
        coverflow: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows : true
        }
    });
</script>