<!-- 전시회 상세 정보 페이지 -->
  <script type=”text/javascript”>
  
  function say(){
    alert("후기 남기신 후에 별점도 매겨주시면 감사하겠습니다.");
  }
  </script>

<div class="itemDetail blackBoderBox">
<div class="container">
  <div class="itemDetailBox">
    <!--a href="/exhibition/destroy/<%= @exhibi.id %>">전시회 정보 삭제</a-->
    <div class="row">
      <div class="itemDetailTitleBox">
        <p class="itemDetailTitle"><%= @exhibi.title%></p>
      </div>      
    </div>
    <div class="row">
      <div class="line">
       <a href="/exhibition/main"><span class="glyphicon glyphicon-arrow-left bigSpan" style="color: #000;"></span></a> 
       <span class="viewCount"> 조회 :<%= @exhibi.impressionist_count %></span>
      </div>      
    </div>
    <div class="row">
      <div class="likeBtn">
        <%if user_signed_in? %>
          <%if current_user.is_like?(@exhibi)%>
            <form action='/exhibition/<%=@exhibi.id%>/like' method='POST'>
              <button class="btn btn-link btn-like"><img src = "/img/heart_filled.png" width="30" height="30"></button>
            </form>
          <% else %>
            <form action='/exhibition/<%=@exhibi.id%>/like' method='POST'>
              <button class="btn btn-link btn-like"><img src = "/img/heart_empty.png" width="30" height="30"></button>
            </form>  
          <%end%>
        <% end %>
        <p class="likeCount"><%=@exhibi.likes.size%> </p>       
      </div> <!-- likeBtn -->         
    </div> <!-- row -->
    <div class="itemDetailContentBox">
      <div class="row">
        44
      </div>
      <div class="row"> 
      <div class="col-md-6">
        <div class="itemDetailImg blackBoderBox">
          <img src=<%= @exhibi.imageAddress%> width="100%">    
        </div>
      </div>
      <div class="col-md-6">
        <div class="itemHashtag">
          <p class="hashtagFont"><%= render_with_hashtags(@exhibi.hashtag) %></p>
        </div>
        <div class="itemDescription">
          <%#= @exhibi.impressionist_count(:filter=>:session_hash) %>
          <span class="glyphicon glyphicon-calendar"></span>
          <p class="contentFont inlineFont">일정:  <%= @exhibi.start_time.strftime("%Y-%m-%d") %> ~ <%= @exhibi.end_time.strftime("%Y-%m-%d") %></p>
          <p><%= Time.now.strftime("%Y-%m-%d")  %></p>
          <% if Time.now.between?(@exhibi.start_time, @exhibi.end_time) %>
            진행중
          <% else %>
            종료
          <% end %>
  
          <span class="glyphicon glyphicon-map-marker"></span>
          <p class="contentFont inlineFont">지역: <%= @exhibi.location%></p><p></p>
          <span class="glyphicon glyphicon-flag"></span>
          <p class="contentFont inlineFont">위치: <%= @exhibi.spot%></p><p></p>
          <span class="glyphicon glyphicon-piggy-bank"></span>
          <p class="contentFont inlineFont">가격: <%= @exhibi.price%>원 </p><p></p>
          <span class="glyphicon glyphicon-share"></span>
          <p class="contentFont inlineFont">공유하기 : <%= social_share_button_tag("[ "+@exhibi.title+" ] 같이 가자!! [위치]:"+ @exhibi.spot)%></p>
        </div>
        </div>
        <!-- 지도 -->
    </div> 
  
          <div id="map" style="width:400px;height:300px;margin-top:30px;"> <!--margin 필수! 없으면 공백 생김-->
        </div>      <!-- 지도 끝 -->
       
          <h4>대중 교통</h4>
          <p>지하철: <!--img src="<%#= @subway_img %>"--> <%= @subway %></p>
          <p>버스: <%= @bus %> </p>
        </tr>
        <tr><h4>시간</h4> <%= @exhibi.time%></tr>
        <tr><h4>문의</h4> <%= @exhibi.callCenter%></tr>
    </div>

</div>
</div>
<div class="commentBox blackBoderBox">
  <%if user_signed_in? %>
  <div class="createComment row">
    <form action='/exhibition/reply_write' method='post'>
      <div class="createCommentInput col-md-10 col-xs-10">
        <input type='hidden' name='exhibition_id' value="<%= @exhibi.id %>">
        <input type='hidden' name='user' value="<%= current_user.id %>">
        <input name='content' class="commentInput blackBoderBox" placeholder='네티켓에 어긋나는 댓글 작성시 임의로 삭제 및 경고조치 받을수 있습니다.' required >         
      </div>
      <div class="createCommentBtn col-md-2 col-xs-2">
        <button type='submit' class='pressedBtn commentBtn' onclick='say()'>후기 남기기</button>        
      </div>
    </form>
  <% end %>    
  </div>
  <div class="printComment">
  
  <h4>전시회 후기</h4>
    <% @exhibi.replies.each do |r| %>
      <div class="reply_set">
        - <%=r.user.name%>님의 후기
        <br><%= r.content%>   <%#= rating_for r, 'name', disable_after_rate: true %>
        <br>
        <br>
        <%if user_signed_in? %>
          <%if current_user.email==r.user.email%>
            <button class="btn btn-outline-danger btn-sm"><a href='/exhibition/reply_delete/<%=r.id%>'>삭제</a></button> 
            <button class="btn btn-outline-danger btn-sm"><a href='/exhibition/reply_update_view/<%=r.id%>'>수정</a></button>
          <%end%>
        <%end%>
      </div>
    <% end %>    
  </div>

</div>
</div><!-- container -->

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a422123e9d34becdb38214c20865844c"></script>
<script>
    var container = document.getElementById('map');
    var options = {
       center: new daum.maps.LatLng(<%= @exhibi.latitude %>, <%= @exhibi.longitude %>),
       level: 3
    };

    var map = new daum.maps.Map(container, options);

  var markerPosition  = new daum.maps.LatLng(<%= @exhibi.latitude %>, <%= @exhibi.longitude %>);
  var marker = new daum.maps.Marker({
      position: markerPosition
  });

  marker.setMap(map);
  
  //map.addOverlayMapTypeId(daum.maps.MapTypeId.TRAFFIC);//교통 정보    
 </script>