<style>
.required{
  color: red;
}

.field-style{
  width: 100%;
  box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  padding: 8px;
  outline: none;
  border: 1px solid #e0b43b;  
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.login-btn {
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #030303;
  font-size: 15px;
  background: #ffffff;
  padding: 6px 40px 6px 40px;
  border: solid #e0b43b 2px;
  text-decoration: none;
}

.login-btn:hover {
  background: #e0b43b;
  text-decoration: none;
}

.center{
  -webkit-align-self: center;
  align-self: center;
}
</style>

<div class='container'>
  <div class='col-sm-4'>
    <br /> <h1> MUMOO </h1>
    <h2>로그인</h2><br />
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      
      <label> 이메일 </label><span class="required"> * </span>
      <div class="field">
        <%= f.email_field :email, autofocus: true, :class => 'field-style' %>
      </div><br />
  
      <label> 비밀번호 </label><span class="required"> *</span>
      <div class="field">
        <%= f.password_field :password, autocomplete: "off", :class => 'field-style' %>
      </div>
    
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :name, 'Remember Me' %>
        </div><br />
      <% end %>
    
      <div class="actions">
        <%= f.submit "로그인", :class => 'login-btn' %>
      </div><br />
    <% end %>
    <%= render "devise/shared/links" %>
</div>
